<!DOCTYPE html>
<html>
<head>
    <title>Servicio0</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="ApServicio.js"></script>
    
</head>

<body ng-app="modServicio" ng-controller="controlador">
    <input type="text" ng-model="sprinter.nombre" />
    <div>
        Hola, {{sprinter.nombre}}!
    </div>

    <div ng-repeat="sprinter in sprinters | filter:sprinter">
        {{sprinter.nombre}} {{sprinter.apellido}} - Edad: {{sprinter.edad}}
    </div>

    <button ng-click="cambiarNombrePrimerSprinter()">Cambiar Nombre</button>

</body>
</html>